[Unit]
Description=bird-feeder
Documentation=
#After=networking.service

[Service]
Type=simple
User=root
Group=root
TimeoutStartSec=0
Restart=on-failure
RestartSec=30s
#ExecStartPre=
ExecStart=/home/pi/bird-feeder/src/Application.py
SyslogIdentifier=Diskutilization

[Install]
WantedBy=multi-user.target

